# Ignored folders & files
.Rproj.user
.RData
.Ruserdata
^.*\.Rproj$
^\.Rproj\.user$
/IgnoredFiles/*

# History files
.Rhistory
.Rapp.history

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj
R.gitignore
MLSeq.Rproj
